.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.about-title {
  color: white;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10% 0 5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about-image {
  width: 125px;
  margin-top: 1.5rem;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.about-text {
  color: white;
  max-width: 900px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .about-section {
    display: flex;
    padding: 0 24px;
    margin: 32px 0;
  }

  .about-title {
    color: white;
    font-size: 2rem;
    margin: auto auto 24px;
  }

  .about-text {
    color: white;
    max-width: unset;
    font-size: 1.2rem;
  }
}