.folio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;

  .folio-section-background {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.57), #222);
    width: 100%;
  }

  h2 {
    color: white;
    font-size: 2rem;
    margin: 2rem 0;
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    border-bottom: var(--main-gray) solid 5px;
  }

  .folio-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 940px;
    margin: auto;

    img {
      border-radius: 5px;
      max-width: 250px;
      max-height: 200px;
    }

    div {
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 250px;
      min-height: 200px;
      margin: 0.5rem;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        filter: opacity(0.75);
        transition: 0.5s;
      }

      &:hover p {
        display: block;
        text-decoration: none;
        color: white;
        background: rgba(0, 0, 0, 0.541);
        font-size: 25px;
        font-weight: bold;
        width: 200px;
        padding: 5px;
        border-bottom-right-radius: 25%;
        border-top-right-radius: 25%;
      }

      p {
        position: absolute;
        bottom: 50%;
        display: none;
      }
    }
  }
}